body {
  background-color: rgb(175, 175, 175);
}
#app {
  /* background: #b80f0a; */
  background-size: cover;
  height: 500px;
  margin: 0 10px;
}
/* header */
#app a {
  text-decoration: none;
  color: white;
}
#app a:hover {
  text-decoration: none;
  color: white;
}
#app .toggle {
  width: 100%;

  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px !important;
  z-index: 2;
}
#app .toggle a {
  text-decoration: none;
  color: #262626;
  font-size: 24px;
  cursor: pointer;
}
#app .menu {
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 220px;
  height: 100%;
  background: #fff;
  z-index: 1;
  transition: 0.5s;
}
#app > .nav-menu {
  margin: 0;

  padding: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
li:first-child {
  margin-top: 40px;
}
#app .nav-menu li {
  list-style: none;
}

#app .nav-menu li a {
  padding: 6px;
  display: inline-block;
  font-family: verdana;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
}
#app .nav-menu li a:hover {
  background-color: #f05894;
}

#app .menu.active {
  left: 0;
  overflow: auto;
}

#app .top2 {
  padding: 60px 10px;
  background-color: #674ea0;
  color: white;
  margin-top: -48px;
}

#app .banner {
  width: 100%;
  height: 500px;
  background: white;
}
#app .banner1 {
  color: white;

  display: flex;
  justify-content: center;
  padding-top: 150px;
}

/* typewriter effect */
/* BANNER 2 */
#app .banner-h1 {
  font-size: 1.5rem;
}
.banner2 {
  height: 120px;
}
@media (min-width: 500px) {
  .banner2 {
    height: 50px;
  }
}

.top4-maindiv {
  background: #e90d7f;
}
/* banner btn */
#app .banner4 {
  padding: 5px 10%;
}
.banner-btn {
  border: none;
  border-radius: 5px;
  background: #e90d7f;
  width: 90%;
  height: 40px;
  text-align: center;
}

/* top3 */

.top3 h2 {
  margin: 60px 0 30px 0;
  text-align: center;
}
.img-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.img-link {
  background: rgba(17, 186, 227, 0.4);
  color: white;
  position: absolute;
  height: 90px;
  bottom: -45px;
  width: 100%;
  left: 50%;
  transform: scale(0);
  transform: translate(-50%, -50%) scale(1);
}
#app .open-overlay {
  color: white;
  border: none;
  text-align: left;
  background: rgba(17, 186, 227, 0.4);

  width: 100%;
  font-size: 15px;
  height: 90px;
}

.img-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  box-sizing: border-box;
  grid-gap: 10px;
  /*  */
  width: 100%;
}
.img-grid > div {
  width: 100%;
  height: 200px;
}

/* top4 */
.top4-sub-img1 {
  display: none;
}
.top4-sub-img2 img,
.top4-sub-img3 img {
  width: 100%;
}
.top4 {
  margin-top: 15px;
}

.top4-img img {
  margin-top: 50px;
  width: 190px;
}

.top4-div {
  display: flex;
  justify-content: space-between;
}
.top4-sub-img img {
  height: 200px;
  width: 100%;
}
.top4-subdiv2 {
  display: flex;
  justify-content: space-between;
}
.top4-sub2-img img {
  width: 100%;
}
.top4-subdiv3 {
  display: flex;
  justify-content: space-between;
}
.top4-subdiv3-text {
  padding-top: 100px;
  width: 50%;
  background-color: #fcb316;
  height: 200px;
}
.ul-listitem {
  list-style: none;
  font-size: 30px;
}
.footer {
  margin-top: -40px;
  background: #674ea0;
  height: 350px;
}
.ul-listitem li {
  padding: 3px;
  font-size: 20px;
}
.ul-listitem li a {
  text-decoration: none;
  color: yellow;
}

@media (min-width: 793px) {
  .respon {
    margin-left: 60px;
  }
  .container-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .ul-listitem {
    background-color: red;
    width: 30%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .banner-group {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #app .top2-subdiv {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #app .top2-div {
    display: flex;
    justify-content: center;
  }
  .top2 h2 {
    padding-top: 50px;
  }
  .banner-subgroup {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;

    width: 760px;
  }
  .overall-imgContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 10px;
  }

  .img-container {
    height: 100%;
  }
  .img-grid {
    margin-top: 0;
  }

  .top4-maindiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #e90d7f;
  }
  .top4-div {
    display: block;
  }
  .top4-img {
    text-align: center;
  }

  .top4-sub2-img img {
    height: 100%;
  }
  .top4-sub-img2 {
    display: none;
  }
  .top4-sub-img1 {
    height: 100%;
    display: block;
  }
  .top4-subdiv4 {
    display: none;
  }
  .top4-subdiv3 {
    display: flex;
    justify-content: space-evenly;

    background-color: black;
  }
  .top4-generalDiv {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  /* timer footer */
  .respondiv {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 90px;
  }
  .seconds,
  .days,
  .minutes,
  .hours {
    /* width: 50px; */
    font-size: 35px;
    background-color: #0d153a;
    color: white;
    padding: 5px;
    margin: 0px 5px;
  }
}

.noscroll {
  overflow: hidden;
}
.close-overlay {
  border: 0;
  color: #e90d7f;
  padding: 2px;
  margin-bottom: 10px;
  font-size: 25px;
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[aria-hidden="true"] {
  display: none;
}
[aria-hidden="false"] {
  display: block;
}

/* this code is not strictly necessary: just to make this demo a bit pleasant */

.overlay .main-div {
  margin: 15vh auto;
  width: 80%;
  max-width: 650px;
  padding: 30px;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.95);
}
.overlay {
  background: rgba(40, 40, 40, 0.75);
}

* {
  box-sizing: border-box;
}
/* button {
  padding: 1.5em 4em;
  cursor: pointer;
} */
pre {
  background: #fafafa;
  padding: 15px;
  border: 1px #ccd dashed;
}
pre + p {
  margin: 5vh 0;
}

#app .about {
  margin-top: 60px;
  background: lightcoral;
}

.quizDiv {
  box-sizing: border-box;
  padding: 100px 10px 20px 10px;
  margin: 0px 20px;
}
.form-container {
  padding-top: 120px;
  color: white;
}

.form-div {
  padding-bottom: 120px;
}

.container-div {
  background-color: #e90d7f;
}
.form {
  border-radius: 5px;

  box-sizing: border-box;
  padding: 10px;
}

#footer {
  width: 100%;
  position: fixed;

  bottom: 0;
}
.respondiv {
  background-color: #00aca8;
  width: 100%;
  height: 130px;
}
.respon1 {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
}
.respon1 span {
  font-size: 20px;
}
.respon {
  display: grid;
  grid-template-columns: 55% 45%;
}
.respon2-btn a,
.respon2-btn a:hover {
  text-decoration: none;
  color: white;
}
.respon-text {
  text-align: center;
  color: white;
  font-size: 18px;
}
.respon2-btn {
  border: 0;

  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #e90d7f;
  color: white;
}
.respon2-btn:hover {
  color: white;
  background-color: #f05894;
}
.seconds,
.days,
.minutes,
.hours {
  /* width: 50px; */
  font-size: 25px;
  background-color: #0d153a;
  color: white;
  padding: 5px;
  margin: 0px 5px;
}
.time-word {
  color: white;
  font-size: 10px;
}

.logo-img {
  width: 30px;
  height: 30px;
}
.contact {
  display: grid;
  grid-template-columns: repeat(3, 40px);
}
